.search-container {
    background-color: white;
    padding: 20px;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1000px;
    min-height: 100vh;
  }

  .search-history-container {
    position: absolute;
    top: 10px; 
    right: 10px; 
    background-color: white; 
    border: 1px solid #ccc; 
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
  }
  
  .search-input {
    border-radius: 20px; 
    border-color: black;
    padding: 10px;
    margin-right: 10px;
  }
  
  .search-tag {
    border-radius: 20px;
    padding: 10px 20px;
    background-color: white;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .search-button {
    background-color: white; 
    color: black; 
    border-color: black;
    border-radius: 20px; 
    padding: 10px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .search-results {
    flex-direction: column;
    align-items: center;
    padding: 0 auto;
    padding-left: 0px;
    padding-right: 200px;
    padding-top: 20px;
    margin: 0 auto;
  }
  
  .search-result {
    background-color: white; 
    padding: 10px;
    margin-bottom: 5px; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
input[type="text"] {
    width: 50%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    outline: none; 
    font-size: 16px; 
    color: #333; 
  }
  
  input[type="text"]:focus {
    border-color: #007bff; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
  }

  .search-copy-button{
    border-radius: 8px; 
    background-color: #1e6091; 
    color: #ffffff; 
    display: relative; 
    margin: 0 10px; 
    padding: 5px 5px; 
    cursor: pointer; 
    border: none; 
    text-align: center; 
  }

  .search-copy-button:disabled {
    background-color: #ccc; 
    cursor: not-allowed; 
  }

  .search-save-button {
    border-radius: 8px; 
    background-color: #1e6091; 
    color: #ffffff; 
    display: block; 
    margin: 0 350px; 
    padding: 10px 20px; 
    cursor: pointer; 
    border: none; 
    text-align: center; 
  }
  
  .search-save-button:hover {
    background-color: #174d7a; 
  }